<div class="flex justify-content-center align-content-center">
    <div class="flex flex-column">
        <div class="flex-row">
            <div class="flex justify-content-between">
                <span class="text-3xl p-2">
                    <strong>Proyectos</strong>
                </span>
                <div class="flex justify-content-end">
                    <p-button class="p-2" icon="pi pi-plus" label="Nuevo Proyecto"/>
                    <p-button icon="pi pi-file-import" class="p-2"
                    label="Reporte " />
                </div>
            </div>
        </div>

        <hr>

        <p-table [value]="projects" [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-striped"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['name', 'client', 'dateStart', 'dateEnd', 'dateNext', 'hours', 'statusWork', 'statusGeneral']">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre(s)</th>
                    <th>Descripción</th>
                    <th>Área</th>
                    <th>Cliente</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Entrega</th>
                    <th>Fecha Próxima</th>
                    <th>Fecha de Creación</th>
                    <th>Estatus de Trabajo</th>
                    <th>Estatus General</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="name" placeholder="Search by name" ariaLabel="Filter Name" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="description" placeholder="Search by description"
                            ariaLabel="Filter Description" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="area" placeholder="Search by area"
                            ariaLabel="Filter Area" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="client" placeholder="Search by client"
                            ariaLabel="Filter Client" />
                    </th>
                    <th>
                        <p-columnFilter type="date" field="startDate" placeholder="Search by start date"
                            ariaLabel="Filter Start Date" />
                    </th>
                    <th>
                        <p-columnFilter type="date" field="endDate" placeholder="Search by end date"
                            ariaLabel="Filter End Date" />
                    </th>
                    <th>
                        <p-columnFilter type="date" field="proxDate" placeholder="Search by prox date"
                            ariaLabel="Filter Prox Date" />
                    </th>
                    <th>
                        <p-columnFilter type="date" field="creationDate" placeholder="Search by date"
                            ariaLabel="Filter Creation Date" />
                    </th>
                    <th>
                        <p-columnFilter type="boolean" field="workStatus">

                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="boolean" field="generalStatus">

                        </p-columnFilter>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-projects>
                <tr>
                    <td>{{ projects.name}}</td>
                    <td>{{ projects.description}}</td>
                    <td>{{ projects.area}}</td>
                    <td>{{ projects.client }}</td>
                    <td>{{ projects.startDate | date:'MMM dd, yyyy'}}</td>
                    <td>{{ projects.endDate | date:'MMM dd, yyyy'}}</td>
                    <td>{{ projects.proxDate | date:'MMM dd, yyyy'}}</td>
                    <td>{{ projects.creationDate | date:'MMM dd, yyyy'}}</td>

                    <td><p-tag [value]="setMessage(projects.workStatus)" [severity]="getSeverity(projects.workStatus)" /></td>
                    <td><p-tag [value]="setMessage(projects.generalStatus)" [severity]="getSeverity(projects.generalStatus)" /></td>
                    <td><i class="pi pi-ellipsis-v p-2"></i></td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>